<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:20px;border-radius: 15px;
background: #1a2429;
box-shadow: -5px -5px 16px #1f2325, 
 5px 5px 16px #16191a;">
    <a class="navbar-brand" href="{{url_for('index')}}">OG Tech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('articles')}}">Articles</a>
        </li>

        {% if 'fname' in session %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ session.fname }} {{ session.lname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('dashboard')}}">Dashboard</a>
            <a class="dropdown-item" href="{{url_for('profile')}}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('logout')}}">logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('signup')}}">Signup</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
      </ul>
      <form action="{{url_for('search')}}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name= "search_query"type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>