<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <div class = "col">
    <style>
    .eye_icon{
      right: 500 ; 

      }

    </style>
  </div>

  
  
</head>


<body style="background-color: aliceblue;">
      
      {% include "includes/navbar.html" %}

    <div class="container">
       <h1><i>login</i></h1>
       <hr>

       {% include "includes/messages.html" %}
       <form action= "/login"  method = "POST">
        
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" name="Email" class="form-control" id="inputEmail4">
          </div>
          
          <div class="form-group col-md-5">
            <label for="inputPassword4">Password</label>
            <input type="password" name="Password" class="form-control " id="inputPassword4" required>
            <div class = "eye_icon">
            <span id="toggle"><i id="eye"  class="fas fa-eye"></i></span> 
            </div> 
         </div>
        </div>
         
        <button type="submit" class="btn btn-primary">login</button>
      </form>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


  <script>    
    const password = document.querySelector('#inputPassword4');
        const btnToggle = document.querySelector('#toggle');
        const eye = document.querySelector('#eye');
        btnToggle.addEventListener('click', (event) => {
            password.type = password.type == 'password' ? 'text' : 'password';
            eye.className = eye.className == 'fas fa-eye' ? 'fa fa-eye-slash' : 'fas fa-eye';
        });    
  </script>






</body>
</html>